@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
}

/*LINKS*/

.link-base-style {
    text-decoration: none;
    font-size: .8em;
    line-height: 1.25em;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.black-link {
    color: #000000;
}

.menu-link { /*nav menu & footer menu*/
    &:hover,
    &:focus {
        opacity: .3;
    }
}

.call-to-action-link {
    display: flex;
    align-items: center;
    & p {
        margin: 0 22px 0 0;
        @media (min-width: 700px) {
            margin: 0 16px 0 0;
        }
    }
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

/*BUTTONS*/

.black-btn {
    background-color: #000000;
    padding: 14px 0;
    cursor: pointer;
    &:hover,
    &:focus {
        background-color: #dfdfdf;
        color: #000000;
    }
    @media (min-width: 700px) {
        padding: 12px 0;
    }
}