.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 56px 32px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
@media (min-width: 700px) {
  .footer {
    padding: 64px 40px;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 32px;
    grid-template-areas: "logo call-to-action" "footer-menu footer-menu" "share-icons copyright";
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 64px 165px 64px 170px;
    gap: 0;
    grid-template-columns: 280px 1fr 1fr;
    grid-template-areas: "logo footer-menu call-to-action" "share-icons footer-menu copyright";
  }
}

.footer-logo {
  margin-bottom: 32px;
}
@media (min-width: 700px) {
  .footer-logo {
    grid-area: logo;
    margin-bottom: 0;
  }
}

.share-icons-wrapper {
  margin-bottom: 49px;
}
@media (min-width: 700px) {
  .share-icons-wrapper {
    grid-area: share-icons;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .share-icons-wrapper {
    align-self: end;
  }
}

.share-icon {
  cursor: pointer;
}
.share-icon:not(:last-child) {
  margin-right: 10px;
}
.share-icon stop {
  transition: 0.4s ease;
}
.share-icon:hover #fb-gradient stop:first-child, .share-icon:focus #fb-gradient stop:first-child {
  stop-color: #6367db;
}
.share-icon:hover #fb-gradient stop:last-child, .share-icon:focus #fb-gradient stop:last-child {
  stop-color: #6028f1;
}
.share-icon:hover #yt-gradient stop:first-child, .share-icon:focus #yt-gradient stop:first-child {
  stop-color: #d3205a;
}
.share-icon:hover #yt-gradient stop:last-child, .share-icon:focus #yt-gradient stop:last-child {
  stop-color: #ff5a5a;
}
.share-icon:hover #tw-gradient stop:first-child, .share-icon:focus #tw-gradient stop:first-child {
  stop-color: #65ffeb;
}
.share-icon:hover #tw-gradient stop:last-child, .share-icon:focus #tw-gradient stop:last-child {
  stop-color: #27718a;
}
.share-icon:hover #pi-gradient stop:first-child, .share-icon:focus #pi-gradient stop:first-child {
  stop-color: #f6c683;
}
.share-icon:hover #pi-gradient stop:last-child, .share-icon:focus #pi-gradient stop:last-child {
  stop-color: #de3838;
}
.share-icon:hover #ig-gradient stop:first-child, .share-icon:focus #ig-gradient stop:first-child {
  stop-color: #ffc593;
}
.share-icon:hover #ig-gradient stop:nth-child(2), .share-icon:focus #ig-gradient stop:nth-child(2) {
  stop-color: #bc7198;
}
.share-icon:hover #ig-gradient stop:last-child, .share-icon:focus #ig-gradient stop:last-child {
  stop-color: #5a77ff;
}

.footer-menu {
  padding: 0;
  margin: 0 auto 119px;
  list-style-type: none;
  text-align: center;
}
.footer-menu li:not(:last-child) {
  margin-bottom: 19px;
}
@media (min-width: 700px) {
  .footer-menu {
    grid-area: footer-menu;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
  .footer-menu li:not(:last-child) {
    margin: 0 26px 0 0;
  }
}
@media (min-width: 1280px) {
  .footer-menu {
    flex-direction: column;
    text-align: left;
    margin: 0;
  }
  .footer-menu li:not(:last-child) {
    margin: 0 0 19px 0;
  }
}

.call-to-action-footer {
  margin-bottom: 34px;
}
@media (min-width: 700px) {
  .call-to-action-footer {
    grid-area: call-to-action;
    justify-self: end;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .call-to-action-footer {
    align-self: start;
  }
}

.footer-copyright {
  opacity: 0.5;
}
@media (min-width: 700px) {
  .footer-copyright {
    grid-area: copyright;
    justify-self: end;
    align-self: center;
  }
}
@media (min-width: 1280px) {
  .footer-copyright {
    align-self: end;
  }
}/*# sourceMappingURL=footer.css.map */