@media (min-width: 500px) {
  .section-container-home:nth-child(2n) {
    flex-direction: row;
  }
}

.section-text-wrapper-home .paragraph {
  margin-bottom: 23px;
}

/*STORIES SECTION*/
.stories-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 375px;
}
@media (min-width: 500px) {
  .stories-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 500px;
  }
}
@media (min-width: 1024px) {
  .stories-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

.story-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 33px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  transition: 0.5s ease-out;
}
.story-block:hover, .story-block:focus {
  transform: translateY(-20px);
}
.story-block:hover::after, .story-block:focus::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  background-image: linear-gradient(1deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
}

.mountains-block {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(/assets/stories/mobile/mountains.jpg);
}
@media (min-width: 500px) {
  .mountains-block {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(/assets/stories/desktop/mountains.jpg);
  }
}

.cityscapes-block {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(/assets/stories/mobile/cityscapes.jpg);
}
@media (min-width: 500px) {
  .cityscapes-block {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(/assets/stories/desktop/cityscapes.jpg);
  }
}

.voyage-block {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(/assets/stories/mobile/18-days-voyage.jpg);
}
@media (min-width: 500px) {
  .voyage-block {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(/assets/stories/desktop/18-days-voyage.jpg);
  }
}

.architecturals-block {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(/assets/stories/mobile/architecturals.jpg);
}
@media (min-width: 500px) {
  .architecturals-block {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(/assets/stories/desktop/architecturals.jpg);
  }
}

.stories-text-wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 20px;
  padding-bottom: 16px;
}
.stories-text-wrapper .small-header {
  margin-bottom: 4px;
}

.stories-info-text {
  font-size: 0.87em;
  line-height: 1.3em;
  margin: 0;
}

.stories-call-to-action-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

/*INFO SECTION*/
.info-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 80px 32px;
  gap: 56px;
}
@media (min-width: 700px) {
  .info-wrapper {
    padding: 120px 155px;
    gap: 80px;
  }
}
@media (min-width: 1280px) {
  .info-wrapper {
    padding: 120px 165px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.info-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-icon-wrapper {
  height: 72px;
  width: auto;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
}/*# sourceMappingURL=index.css.map */