.section-container {
    display: flex;
    flex-direction: column;
    @media (min-width: 700px) {
        flex-direction: row;
        align-items: center;
        &:nth-child(2n + 1) {
            flex-direction: row-reverse;
        }
    }
}

.black-section {
    background-color: #000000;
    color: #ffffff;
}

.white-section {
    background-color: #ffffff;
    color: #000000;
}

.section-text-wrapper {
    padding: 72px 33px;
    position: relative;
    @media (min-width: 700px) {
        padding: 0 54px;
    }
}

.gradient-div {
    position: absolute;
    top: 0;
    left: 33px;
    height: 6px;
    width: 128px;
    background-image: linear-gradient(1deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    @media (min-width: 700px) {
        left: 0;
        height: 100%;
        width: 6px;
    }
}

.section-text {
    line-height: 25px;
    margin-bottom: 23px;
    opacity: .6;
}

/*STORIES DIV*/

.stories-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 375px;
}

.stories-div {
    padding: 0 33px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.mountains-div {
    background-image: url(/assets/stories/mobile/mountains.jpg);
}

.cityscapes-div {
    background-image: url(/assets/stories/mobile/cityscapes.jpg);
}

.voyage-div {
    background-image: url(/assets/stories/mobile/18-days-voyage.jpg);
}

.architecturals-div {
    background-image: url(/assets/stories/mobile/architecturals.jpg);
}

.stories-text-wrapper {
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.stories-call-to-action {
    justify-content: space-between;
    margin-bottom: 40px;
}