.section-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .section-container {
    flex-direction: row;
    align-items: center;
  }
  .section-container:nth-child(2n+1) {
    flex-direction: row-reverse;
  }
}

.black-section {
  background-color: #000000;
  color: #ffffff;
}

.white-section {
  background-color: #ffffff;
  color: #000000;
}

.section-text-wrapper {
  padding: 72px 33px;
  position: relative;
}
@media (min-width: 700px) {
  .section-text-wrapper {
    padding: 0 54px;
  }
}

.gradient-div {
  position: absolute;
  top: 0;
  left: 33px;
  height: 6px;
  width: 128px;
  background-image: linear-gradient(1deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
}
@media (min-width: 700px) {
  .gradient-div {
    left: 0;
    height: 100%;
    width: 6px;
  }
}

.section-text {
  line-height: 1.67em;
  margin: 0 0 23px 0;
  opacity: 0.6;
}

/*STORIES DIV*/
.stories-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 375px;
}
@media (min-width: 700px) {
  .stories-wrapper {
    grid-template-columns: 50% 50%;
    grid-auto-rows: 500px;
  }
}
@media (min-width: 1280px) {
  .stories-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

.stories-div {
  padding: 0 33px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mountains-div {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(/assets/stories/mobile/mountains.jpg);
}
@media (min-width: 700px) {
  .mountains-div {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(/assets/stories/desktop/mountains.jpg);
  }
}

.cityscapes-div {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(/assets/stories/mobile/cityscapes.jpg);
}
@media (min-width: 700px) {
  .cityscapes-div {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(/assets/stories/desktop/cityscapes.jpg);
  }
}

.voyage-div {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(/assets/stories/mobile/18-days-voyage.jpg);
}
@media (min-width: 700px) {
  .voyage-div {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(/assets/stories/desktop/18-days-voyage.jpg);
  }
}

.architecturals-div {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(/assets/stories/mobile/architecturals.jpg);
}
@media (min-width: 700px) {
  .architecturals-div {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(/assets/stories/desktop/architecturals.jpg);
  }
}

.stories-text-wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 20px;
  padding-bottom: 16px;
}
.stories-text-wrapper .small-header {
  margin-bottom: 4px;
}

.stories-info-text {
  font-size: 0.87em;
  line-height: 1.3em;
  margin: 0;
}

.stories-call-to-action {
  justify-content: space-between;
  margin-bottom: 40px;
}/*# sourceMappingURL=index.css.map */